<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viiishoppinglistapp.doit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TabbedHomeActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_home" />
        <activity
            android:name=".TabbedInventoryActivity"
            android:exported="false"
            android:label="@string/title_activity_tabs_use_shopping_list" />
        <activity
            android:name=".InventoryActivity_old"
            android:exported="false" />
        <activity
            android:name=".AddShoppingListItemsActivity"
            android:exported="false" />
        <activity
            android:name=".UseShoppingListActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity_old" />
    </application>

</manifest>