<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viii.app.theeight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.viii.app.theeight.InventoryActivity"
            android:label="Inventory items">

        </activity>
        <activity
            android:name="com.viii.app.theeight.addListActivity"
            android:label="Add List"
            android:parentActivityName="com.viii.app.theeight.makeListActivity"></activity>
        <activity
            android:name="com.viii.app.theeight.makeListActivity"
            android:label="List">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.viii.app.theeight.MainActivity"
            android:label="Items"
            android:parentActivityName="com.viii.app.theeight.makeListActivity"></activity>
        <activity
            android:name="com.viii.app.theeight.UpdateActivity"
            android:parentActivityName="com.viii.app.theeight.MainActivity" />
        <activity
            android:name="com.viii.app.theeight.AddActivity"
            android:label="Add items"
            android:parentActivityName="com.viii.app.theeight.MainActivity" />
    </application>

</manifest>